

@{
    ViewData["Title"] = "Cadastro";

}
<h1>@ViewData["Title"]</h1>






<div class="jumbotron">

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> @ViewBag.Message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <h3>Novo Produto</h3>

    <form action="/cadastro" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Quantidade">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="reset" class="btn btn-primary">Resetar</button>
    </form>

</div>



